@import './../../variables.scss';

.contact-list {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
    
    article {
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;

        strong {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        a {
            height: 42px;
            width: 100px;
            border-radius: 5px;
            border: 2px solid $primaryColor;
            background: none;
            color: $primaryColor;
            font-weight: bold;
            font-size: 16px;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .actions {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    
        button {
            padding: 10px;
            border-radius: 5px;
            border: 0;
            background: $primaryColor;
            color: #fff;
            font-size: 16px;
            font-weight: bold;
        
            &:disabled {
                opacity: 0.5;
            }
            
            &:hover:enabled {
                opacity: 0.7;
            }
        }
    }
}